* {
  font-family: "Source Serif 4", serif;
}

header,
main,
footer {
  background-color: black;
}

nav .navbar-brand {
  font-size: 70px;
  color: #c9a83f;
}

nav .nav-link {
  font-size: 20px;
  color: #c9a83f;
}

nav .navbar-brand:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav .nav-link:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav ul {
  gap: 20px;
}

header {
  border-bottom: 2px solid #c9a83f;
}

footer {
  border-top: 2px solid #c9a83f;
}

.bg-negro {
  background-color: black !important;
}

.text-dorado {
  color: #c9a83f !important;
}

.btn-warning:hover {
  background-color: rgb(158, 164, 178) !important;
  border-color: rgb(158, 164, 178) !important;
  transition: 0.2s ease;
}

table thead tr th {
  background-color: #c9a83f !important;
}
