* {
  font-family: "Source Serif 4", serif;
}

header,
main,
footer {
  color: #c9a83f;
}

nav .navbar-brand {
  font-size: 70px;
  color: #c9a83f;
}

nav .navbar-brand:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav .nav-link {
  font-size: 20px;
  color: #c9a83f;
}

nav .nav-link:hover {
  color: rgb(158, 164, 178);
  transition: 0.2s ease;
}

nav ul {
  gap: 20px;
}

footer div h1 {
  font-size: 30px;
}

.btn-warning:hover {
  background-color: rgb(158, 164, 178) !important;
  border-color: rgb(158, 164, 178) !important;
  transition: 0.2s ease;
}

.bg-negro {
  background-color: black !important;
}

.text-dorado {
  color: #c9a83f !important;
}

main section {
  border-bottom: 2px solid #c9a83f;
  padding-bottom: 30px;
}

main {
  padding-bottom: 50px;
}

header {
  border-bottom: 2px solid #c9a83f;
}

footer {
  border-top: 2px solid #c9a83f;
}
